header{

    background-position: all;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;


}


body{

    background-color: red;
    background-position: all;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
}




.topsec{

  background:url(images/Dark-Chess-Wallpaper-HD.jpg) no-repeat;
  background-attachment: scroll;
  padding-bottom: 400px;
  padding-top: 200px;
  margin-top: -30px;

}

.heading1{

  font-size: 150px;
  font-weight: bolder;
  padding-left: 80px;
  font-style: oblique;
  letter-spacing: 0.1em;
  padding-top: -90px;
  color: white;
  margin-top: -70px;

}

.heading2{

  font-size: 20px;
  font-weight: bold;
  padding-left: 480px;
  font-style: italic;
  letter-spacing: 0.1em;
  padding-top: -90px;
  color: blue;

}

.button2{

  font-size: 30px;
  font-weight: bolder;
  padding-right: -200px;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-top: -170px;
  color: black;
  background-color: red;
  border-color: grey;
  margin-top: 50px;
  margin-left: 520px;

 


}





a{
 
  color: yellow;
  font-size: 14px;
  font-style: italic;
  word-spacing: 0.2em;

}

h5{

  font-size: 28px;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: 180px;
  color: black;


}

video{

  padding: 0px 20px;
  margin-top:  200px;
  margin-left: 250px;
  margin-bottom: 150px;
}

.Container{

    background-color: blue;


}


h2{
	color: black;
	font-style: italic;
	font-weight: bolder;
	font-size:50px;
	letter-spacing: 0.3em;
}



h1{

   font-weight:bold;
   text-align:center;
   color:black;
   float: left;
   font:70px;
   font-family: sans-serif;
   padding-left: 450px;

}

p{

color: black;
font:15px sans-serif;
font-weight: bolder;
padding: -30px 20px;
float: left;
margin: 60px 50px;
margin-top: -40px;
line-height: 2.0;
height: 160px;
border: 5px 5px;
border-color: blue;
}

.history{

  height: 100%;
  width: 100%;
  margin-top: 1000px;


}
.istory img{

  height: 100%;
  width: 100%;
  margin-top: 1500px;


}

.story p{

  margin-top: 70px; 

}

.istory p{

  font-style: italic;
  color: black;
  font-weight: medium;
  font-size:14px;
  margin-top: 100px;




}







img{

   height: 100%;
   width: 100%;
   margin-top: 180px;



}



.para_1 p{

color:  black;
font:15px sans-serif;
font-weight: bolder;
float: none;
margin: 50px 490px;
line-height: 2.0;
border-color: blue;
background-color: grey;


}






.para_1 h1{

text: red;
font:45px sans-serif;
font-weight: bolder;
margin: 150px 10px;
line-height: 1.5;
height: 160px;
border: 5px 5px;
border-color: blue;





}

.create{

  margin-bottom: 50px;
  padding-top: -40px;

}



.nav ul{

   margin-top: 0px;
   background-color: black;
   text-decoration: none;
   text-decoration: none;
   text-align: right;
   list-style: none;


}


.nav li a {

  color: red;
  background-size:cover;
  font-size: larger;
  line-height: 35px;
  display: inline;
  font-style: oblique;
  font-weight: 900;
  text-decoration: none;
}

.nav li a:hover {

  border: 15px blue;
}



.nav li{

   display: inline-block;
   line-height: 35px;
   text-decoration: none;
   padding: 25px 20px;


}

.home{
	color: white;
	background-color: black;
}



.logo img{

	width: 530px;
	text-align: left;
	height: auto;
	float: left;
	position: absolute;
	padding: -60px 35px;
	margin: -40px -85px;


}




.FORMS {

  color: black;
  font-weight: bolder;
  font-size: larger;
  margin-right: 80px;
  margin-bottom: 50px;
  padding: 30px 35px;
  background-color: red;
  height: 50%;
  float: right;
}

.FORMS button{

   background-color: blue;
   padding-left: 15px;
   font-size: 20px;
   font-weight: 700;
   margin-left: 40px;

}








.listing p{
  font-style: italic;
  color: black;
  font-weight: medium;
  font-size:14px;
}





.para{
	text-align: center;
	font-style: italic;
	font-weight: 200px;
}

footer {

  width: 100%;
  padding: 60px 0px;
  margin-top: 500px;
  background-color: black;


}
footer li{

 text-decoration: none;
 list-style: none;
 line-height: 1.5em;

}

footer h1{

 font-size: 20px;
 padding-right: 200px;
 margin-top: -210px;
 margin-left: 900px;
 color: red;
 font-style: italic;
 font-family: monospace;

}

footer img{

  height: 200px;
  width: 350px;
  margin-left: 880px;
  margin-top: -210px;




}
